<div class="chart-container animated fadeInLeft" *ngIf="technologies.length > 0 && !isLoading">

  <h3 class="text-secondary">Frontend</h3>

  <ngx-charts-bar-horizontal
    [scheme]="colorScheme"
    [results]="technologies"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showGridLines]="false"
    [showXAxisLabel]="showXAxisLabel"
    [showDataLabel]="true"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    class="my-chart">
  </ngx-charts-bar-horizontal>
</div>

<div class="loader" *ngIf="isLoading">
  <img src="./assets/images/loader.svg" class="img-loader">
</div>