<div class="row">
  <div class="col-md-4 animated fadeInLeft" *ngFor="let tech of technologies">
    <div class="card" class="votes-card">
      <div class="card-body">
        <h5 class="card-title">{{ tech.name }}
          <small class="badge badge-primary">{{ tech.value }}</small>
        </h5>
        <p class="card-text">{{ tech.description }}</p>
        <button type="button" class="btn btn-primary" (click)="voteTech(tech)">Vote!</button>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <img src="./assets/images/loader.svg" class="img-loader">
</div>