html, body {
  background: #1b1e27;
  color: white;
}

.img-loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.loader {
  width: 100%;
  height: 300px;
  margin: 100px auto;
  align-content: center;
}
